<section id='app-markov'>
  <div class='section bg-primary text-dark section-lg'>
    <dov class='container'>
      <div class='row justify-content-center text-center pt-6'>
        <div class='col-lg-8 col-xl-8'>
          <h1 class='display-2 mb-3'>{{title}}</h1>
        </div>
      </div>
    </dov>

    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-12'>

          <div
            id='input-slider-range'
            :data-range-value-min='nodes.min'
            :data-range-value-max='nodes.max'
          >
          </div>
          <div class='row d-none'>
            <div class='col-6'>
              <span
                class='range-slider-value value-low'
                :data-range-value-low='nodes.default'
                id='input-slider-range-value-low'
              >
              </span>
            </div>
          </div>

        </div>
        <div class='col-6'>
          <div class='mb-5'>
            <div
              class='table-responsive-sm shadow-soft rounded overflow-auto'
              style='height: 350px;'
            >
              <table class='table'>
                <tbody>
                  <tr>
                    <th class='border-0'>&nbsp;</th>
                    <th
                      v-for='(row, index) in matrix.length'
                      class='border-0 text-center'
                      :key='index'
                    >
                      \{{ index }}
                    </th>
                  </tr>

                  <tr v-for='(row, x) in matrix' :key='x'>
                    <th class='border-0'>\{{x}}</th>

                    <template v-for='(cell, y) in row' :key='y'>
                      <c-cell
                        class='border-0'
                        v-model.number='cell.value'
                        :title="x+', '+y"
                      ></c-cell>
                    </template>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class='col-6'>

          <div
          id='cy'
          style='height: 350px;'
          class='card bg-primary shadow-inset border-light'>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>